:root {
    --text-color: white;
    --text-dark-color: #414143;
    --header-height: 100px;
    --burger-width: 40px;
    --font-wide-headings: 'Rubik Mono One', sans-serif;
    --font-narrow-headings: 'Darker Grotesque', sans-serif;
    --bcg-green: #ACB7AE;
    --bcg-lightcream: #FEFCF0;;
    --bcg-lightbrown: #b0a7a4;
    --bcg-lightblue: #a3abb1;
    --bcg-loaderblue: #758A94;
    --bcg-loaderbluedark: #566C76;
    --loader-width: 27.36vw;
    --loader-height: 50vh;
    --v-spacing: 10vh;
    --h-gutter: 3.6vw;  
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

body {
    font: 16px/1.7 'Source Sans Pro', Helvetica, Helvetica Neue, Arial, sans-serif;
    color: var(--text-dark-color);
}

/* Fonts */
h1 {
    font-family: var(--font-wide-headings);
    font-weight: normal;
    text-align: center;
    color: var(--text-dark-color);
    font-size: 9vw;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    margin: 0;
    display: block;
    letter-spacing: 0.03em;
}

.section-headers {
    font-size: 6vw;
}

/* Main */
main {
    z-index: 1;
    position: relative;
}
section {
    position: relative;
}
.with-padding {
    padding: var(--v-spacing) 0;
}
.with-padding-bottom {
    padding-bottom: var(--v-spacing);
}
.chapter {
    position: absolute;
    left: var(--h-gutter);
    top: var(--v-spacing);
    z-index: 2;
    color: var(--text-color);
    font-size: 1.6vw;
}
.chapter span {
    opacity: 0.4;
}

.container {
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.full-height {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

/* Top Nav */
.burger {
    width: 7.7vw;
    height: 7.7vw;
    position: fixed;
    top: 5vh;
    left: auto;
    right: var(--h-gutter);
    z-index: 2;
    font-family: var(--font-narrow-headings);
    font-size: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}

.burger .menu-circle {
    min-width: 8vw;
    min-height: 8vw;
    background: url(../img/EllipseMenu.svg) no-repeat center;
    background-size: 100% 100%;
    animation: rotation 15s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    }
    @keyframes rotation {
        0%   {  transform:  rotate(0deg); }
        100% {  transform:  rotate(360deg) ; }
    }

/* Main Navigation */
.main-nav {
    position: fixed;
    top: 0;
    right: calc(var(--h-gutter) + 3vw);
    z-index: 3;
}

/* =Header */
header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2;
    background-color: var(--bcg-lightcream);
}
header h1 {
    line-height: 10.4vw;
    z-index: 1;
    margin-bottom: 0;
    pointer-events: none;
}
.arrow {
    min-width: 85vw;
    height: 20vw;
    background: url(../img/scroll-to-work.svg) no-repeat right;
    background-size: 30%;
}

/* I like section */
.i-like-outer-container {
    background-color: #C6CEB9;
}
.i-like-inner-container {
    width: 70vw;
    margin-right: 12vw;
}
.i-like-outer-container h2 .description {
    font-family: 'Bodoni Moda', serif;
    font-size: 5.5vw;
    font-weight: 600;
    margin: 0 4px 0 4px;
}
.i-like-inner-container h2:nth-child(2) {
    padding-left: 2vw;
}
.i-like-inner-container h2:nth-child(3) {
    padding-left: 5vw;
}
.i-like-inner-container h2:nth-child(4) {
    padding-left: 42vw;
    text-align: right;
    margin-top: -70px
}
.i-like-inner-container h2:nth-child(5) {
    width: 70%;
    text-align: right;
    margin-top: -20px
}
.i-like-inner-container h2:nth-child(7) {
    width: 80%;
    text-align: right;
    margin-top: -10px
}

/* My work section */
.final {
    background-color: #FEFCF0;
}
.panel.myWork {
    background-color: #D0623F;
}
.panel.two {
    background-color: #F6BB30;
}

/* ==========================================================================
    Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1140px) {

}