@font-face {
    font-family: 'Cako';
    src: url('/Users/ellieforeman/Library/Fonts/Cako-Regular.ttf');
}

:root {
    --text-color: #F3D4C9;
    --text-dark-color: #343434;
    --header-height: 100px;
    --burger-width: 40px;
    --font-wide-headings: 'Cako', sans-serif;
    --font-narrow-headings: 'Darker Grotesque', sans-serif;
    --bcg-green: #ACB7AE;
    --bcg-lightcream: #F76354;;
    --bcg-lightbrown: #b0a7a4;
    --bcg-lightblue: #a3abb1;
    --bcg-loaderblue: #758A94;
    --bcg-loaderbluedark: #566C76;
    --loader-width: 27.36vw;
    --loader-height: 50vh;
    --v-spacing: 10vh;
    --h-gutter: 3.6vw;  
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
    --logo-grad-1: rgba(243,212,201,0.25);
    --logo-grad-2: #F3D4C9
}

body {
    font: 16px/1.7 'Source Sans Pro', Helvetica, Helvetica Neue, Arial, sans-serif;
    color: var(--text-dark-color);
    margin: 0;
}

/* Fonts */
h1 {
    font-family: var(--font-wide-headings);
    font-weight: normal;
    text-align: center;
    color: var(--text-color);
    font-size: 8vw;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    margin: 0;
    display: block;
    letter-spacing: 0.03em;
}

.light-text {
    color: var(--text-color);
}

.section-headers {
    font-size: 6vw;
}

/* Main */
main {
    z-index: 1;
    position: relative;
}
section {
    position: relative;
}
.with-padding {
    padding: var(--v-spacing) 0;
}
.with-padding-bottom {
    padding-bottom: var(--v-spacing);
}
.chapter {
    position: absolute;
    left: var(--h-gutter);
    top: var(--v-spacing);
    z-index: 2;
    color: var(--text-color);
    font-size: 1.6vw;
}
.chapter span {
    opacity: 0.4;
}

.container {
    width: 300%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.full-height {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

/* Blobs */
.rds-grad-cls-1 {
    fill: url(#linearGradient-7uou0zttsg-1);
}

.logo-blob {
    width: 25%;
    position: absolute;
    margin-top: -12%; /* Half the height */
    margin-left: -12%; 
}

.logo-blob.a {
    top: 40%;
    left: 50%;
}

.logo-blob.b {
    top: 50%;
    left: 35%;
}

.logo-blob.c {
    top: 55%;
    left: 50%;
}

.logo-blob.d {
    top: 45%;
    left: 65%;
}

.svg-master-wrap {
    display: none;
}

/* Top Nav */
.header-line {
    width: 82%;
    border-bottom: #F3D4C9 1px solid;
    position: absolute;
    top: 8vh;
    right: 12vw;
}

.burger {
    width: 6vw;
    height: 6vw;
    position: fixed;
    top: 5vh;
    left: auto;
    right: var(--h-gutter);
    z-index: 2;
    font-family: var(--font-narrow-headings);
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}

.burger .menu-circle {
    min-width: 6vw;
    min-height: 6vw;
    background: url(../img/EllipseMenu.svg) no-repeat center;
    background-size: 100% 100%;
    animation: rotation 15s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    }
    @keyframes rotation {
        0%   {  transform:  rotate(0deg); }
        100% {  transform:  rotate(360deg) ; }
    }

/* Main Navigation */
.main-nav {
    position: fixed;
    top: 0;
    right: calc(var(--h-gutter) + 3vw);
    z-index: 3;
}

/* =Header */
header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2;
    background-color: var(--bcg-lightcream);
}
header h1 {
    line-height: 10.4vw;
    z-index: 1;
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    bottom: 6vh;
    left: 5vw;
}

header p {
    position: absolute;
    bottom: 1.5vh;
    left: 31vw;
    font-size: 1.5vw;
    font-family: 'Karla', sans-serif;
    color: var(--text-color);
    letter-spacing: 1.2px;
}

.arrow {
    min-width: 85vw;
    height: 20vw;
    background: url(../img/scroll-to-work.svg) no-repeat right;
    background-size: 30%;
}

/* I like section */
.i-like-outer-container {
    background-color: #C6CEB9;
}
.i-like-inner-container {
    width: 70vw;
    margin-right: 12vw;
}
.i-like-outer-container h2 .description {
    font-family: 'Bodoni Moda', serif;
    font-size: 5.5vw;
    font-weight: 600;
    margin: 0 4px 0 4px;
}
.i-like-inner-container h2:nth-child(2) {
    padding-left: 2vw;
}
.i-like-inner-container h2:nth-child(3) {
    padding-left: 5vw;
}
.i-like-inner-container h2:nth-child(4) {
    padding-left: 42vw;
    text-align: right;
    margin-top: -70px
}
.i-like-inner-container h2:nth-child(5) {
    width: 70%;
    text-align: right;
    margin-top: -20px
}
.i-like-inner-container h2:nth-child(7) {
    width: 80%;
    text-align: right;
    margin-top: -10px
}

/* My work section */
.final {
    background-color: #FEFCF0;
}
.panel.myWork {
    background-color: #D0623F;
}
.panel.two {
    background-color: #F6BB30;
}
.box {
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: white;
    border-radius: 8px;
    color: #222;
    font-weight: 700;
    margin-left: 20px;
    will-change: transform;
}
.box.active {
    background-color: orange;
    border: 2px solid white;
}

svg {
    /* display: block;
    position: absolute;
    left: 0;
    right: 0; */
    width: 300px;
  
}

#wave2 {
    visibility:hidden;
}

/* ==========================================================================
    Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 1140px) {

}