@font-face {
    font-family: 'Cako';
    src: url('/Users/ellieforeman/Library/Fonts/Cako-Regular.ttf');
}

:root {
    --text-color: #F3D4C9;
    --text-dark-color: #343434;
    --header-height: 100px;
    --burger-width: 40px;
    --font-wide-headings: 'Cako', sans-serif;
    --font-narrow-headings: 'Darker Grotesque', sans-serif;
    --bcg-green: #ACB7AE;
    --bcg-red: #F76354;
    --bcg-lightcream:#FEFCF0;
    --bcg-lightbrown: #b0a7a4;
    --bcg-lightblue: #a3abb1;
    --bcg-loaderblue: #758A94;
    --bcg-loaderbluedark: #566C76;
    --loader-width: 27.36vw;
    --loader-height: 50vh;
    --v-spacing: 10vh;
    --h-gutter: 3.6vw;  
    --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
    --logo-grad-1: rgba(243,212,201,0.25);
    --logo-grad-2: #F3D4C9
}

body {
    font: 16px/1.7 'Source Sans Pro', Helvetica, Helvetica Neue, Arial, sans-serif;
    color: var(--text-dark-color);
    margin: 0;
}

/* ------- GLOBAL STYLES -------- */
/* Fonts */
h1 {
    font-family: var(--font-wide-headings);
    font-weight: normal;
    text-align: center;
    color: var(--text-color);
    font-size: 8vw;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    margin: 0;
    display: block;
    letter-spacing: 0.03em;
}

.light-text {
    color: var(--text-color);
}

.section-headers {
    font-size: 6vw;
}

/* Main */
main {
    z-index: 1;
    position: relative;
}
section {
    position: relative;
}
.with-padding {
    padding: var(--v-spacing) 0;
}
.with-padding-bottom {
    padding-bottom: var(--v-spacing);
}
.chapter {
    position: absolute;
    left: var(--h-gutter);
    top: var(--v-spacing);
    z-index: 2;
    color: var(--text-color);
    font-size: 1.6vw;
}
.chapter span {
    opacity: 0.4;
}

.container {
    height: 100%;
}

.full-height {
    min-height: 100vh;
    min-width: 100vw;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.flex-end-to-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


/* HEADER PAGE - 
Blobs */
.gradient {
    fill: url(#linearGradient-7uou0zttsg-1);
}

.blobz {
    width: 40%;
    position: absolute;
    margin-top: -20%; /* Half the height */
    margin-left: -20%; 
}

.logo-blob.a {
    top: 40%;
    left: 50%;
} 

.logo-blob.b {
    top: 49%;
    left: 28%;
}

.logo-blob.c {
    top: 55%;
    left: 50%;
}

.logo-blob.d {
    top: 45%;
    left: 75%;
}

.logo-blob.e {
    top: 54%;
    left: 67%;
}

.logo-blob.f {
    top: 43%;
    left: 34%;
}

.svg-master-wrap {
    display: none;
}

/* Top Nav */
.burger {
    width: 6vw;
    height: 6vw;
    position: fixed;
    top: 5vh;
    left: auto;
    right: var(--h-gutter);
    z-index: 2;
    font-family: var(--font-narrow-headings);
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}

.burger .menu-circle {
    min-width: 6vw;
    min-height: 6vw;
    background: url(../img/EllipseMenu.svg) no-repeat center;
    background-size: 100% 100%;
    animation: rotation 15s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    }
    @keyframes rotation {
        0%   {  transform:  rotate(0deg); }
        100% {  transform:  rotate(360deg) ; }
    }

/* Main Navigation */
.main-nav {
    position: fixed;
    top: 0;
    right: calc(var(--h-gutter) + 3vw);
    z-index: 3;
}

/* =Header */
header {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    perspective: 1000px;
    z-index: 2;
    background-color: var(--bcg-red);
}
header h1 {
    line-height: 10.4vw;
    z-index: 1;
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    bottom: 6vh;
    left: 5vw;
}

header p {
    position: absolute;
    bottom: 1.5vh;
    left: 31vw;
    font-size: 1.5vw;
    font-family: 'Karla', sans-serif;
    color: var(--text-color);
    letter-spacing: 1.2px;
}


/* I LIKE SECTION */
.i-like-outer-container {
    background-color: var(--bcg-lightcream);
}

.curvy-line-seperator {
    background: url(../img/Ellipse34.svg) no-repeat center;
    width: 100vw;
    height: 100px;
    background-size: cover;
}

.i-like-outer-container p {
    font-family: 'Karla', serif; 
    font-size: 8.5vw;
    font-weight: 300;
    text-align: center;
    margin: 10%;
}

.i-like-outer-container p .description {
    font-family: 'Bodoni Moda', serif;
    font-size: 11.5vw;
    font-weight: 600;
    margin: 0 4px 0 4px;
}

.i-like-height {
    height: calc(100vh - 100px);
}


/* My work section */
.final {
    background-color: #FEFCF0;
}
.panel.myWork {
    background-color: #D0623F;
}
.panel.two {
    background-color: #F6BB30;
}
.box {
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: white;
    border-radius: 8px;
    color: #222;
    font-weight: 700;
    margin-left: 20px;
    will-change: transform;
}
.box.active {
    background-color: orange;
    border: 2px solid white;
}


/* ==========================================================================
    Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .container {
        width: 300%;
        display: flex;
        flex-wrap: nowrap;
    }
    /* Top Nav */
    .header-line {
        width: 82%;
        border-bottom: #F3D4C9 1px solid;
        position: absolute;
        top: 8vh;
        right: 12vw;
    }
    /* I LIKE SECTION */
    .flex-end-to-center {
        align-items: end;
    }
    .i-like-outer-container p {
        text-align: end;
        font-size: 4.5vw;
    } 
    .i-like-outer-container p .description {
        font-size: 6.5vw;
    }
}

@media only screen and (min-width: 1140px) {

}